templates/error.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ns.ons.gov.uk/namespaces/resources/error" xmlns:tns="http://ns.ons.gov.uk/namespaces/resources/error" elementFormDefault="qualified">
 <xs:element name="error">
   <xs:complexType>
     <xs:sequence>
       <xs:element name="error_id" type="xs:string"/>
       <xs:element name="message" type="xs:string"/>
     </xs:sequence>
   </xs:complexType>
 </xs:element>
</xs:schema>